@media (min-width: 576px) {
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 50px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(240, 122, 54);
    color: white;
    cursor: pointer;
    padding: 25px;
    border-radius: 7px; 
    font-size: 12px; 
  
  }

#myBtn:hover {
    background-color: rgb(145, 143, 143); 
  }
  
input {
    width: 100px; 
    text-align: center; 
    padding: 8px; 
    box-shadow: 6px 6px 5px; 
    -webkit-box-shadow: 6px 6px 5px #999999; 
    -moz-box-shadow: 6px 6px 5px #999999; 
    font-weight: bold; 
    background: #daefec; 
    color: #000000; 
    cursor: pointer; 
    border-radius: 10px; 
    border: 1px solid #D9D9D9; 
    font-size: 80%;
  }


}