@media (min-width: 576px) {

body {
    font-family: "Comic Sans", sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align-: le--ft;
    background-color: #fff;
}


.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}



.slider {
  /* line them up horizontally */
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  /* allow for scrolling */
  overflow-x: auto;
  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
  /* each slide snaps into place */
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
}
.slider > div {
  /* make sure the width is honored */
  flex-shrink: 0;
  width: 650px;
  height: 650px;
}

.jumbotron_text_center {
  background-image: url("https://s22.postimg.cc/q7in78pht/blue-2906525_1920.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
img.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 14%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    cursor: pointer;
    vertical-align: middle;
    border-style: none;
    flex-shrink: 0;
    width: 620px;
    height: 530px;
}


#img {
  width: 200px;
  height: 100px;
  margin-left: 300px;
  margin-right: auto;


}

*, *::before, *::after {
    box-sizing: border-box;
}

section {
    display: block;
    padding: 3%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    background-color: white;
    box-shadow: 0px 2px 22px 1px rgba(0,0,0,0.6);
    transform: translateY(20px);
    transition: 0.5s ease-in-out;
    opacity: 1;
    transform: translateY(0px)
}

h2 {
	font-size: 25px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: #615545;
}

h3 {
  margin-top: 20px;
  text-align: left;

}

h4 {
  text-align: right;

  margin-top: 20px;
  font-family: "Comic Sans MS", sans-serif;
}

h5 {
  text-align: center;
  font-size: 14px;
  font-family: monospace;
  color: grey;
}

h6 {
  font-size: 12px;
  text-align: center;
}

div#txt {
  text-align: center;
}

}
